<nav class="navbar navbar-expand-lg" style="background-color: #a9bcdC;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dark Company</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Eventos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="calendario">Calendario</a></li>
              <li><a class="dropdown-item" href="totalEventos">Lista Eventos</a></li>
              <li><a class="dropdown-item" href="listEventos">Agregar Eventos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
